/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  color: blue;
}

app-root {
  margin: 10px auto;
  padding: 10px;
  display: block;
  font: {
    family: Arial;
  };
  border: {
    width: 3px;
    style: solid;
    color: black;
  };
}
